<div class="site-content"  id='aboutus'>
  <main class="main" id="main">
    <article>
      <div class="entry-content">
        <div class="container-fluid about-us-wrapper">
          <div class="black-overlay"></div>
          <div class="container page-container">
            <div class="page-heading-cont py-4 py-lg-5">
              <h2 class="about-us-heading text-center"><span><span style="font-size:40px;">THE</span> <span style="letter-spacing:15px;"><b>WHY</b><span></span></span></span></h2>
            </div>
            <div class="col-12 px-0 d-flex flex-wrap about-boxes-cont pb-3">
              <div class="col-12 col-md-6 col-lg-4 py-2 text-center about-box">
                <h3 class="box-title">
                  <span>THE RIDE</span>
                </h3>
                <p class="box-desc">
                  This isn’t a typical spin class—the Spokehaus workout is a kick-ass, low impact, high intensity full-body experience on a bike. We warm you up, work you out and cool you down.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 py-2 text-center about-box">
                <h3 class="box-title">
                  <span>THE MUSIC</span>
                </h3>
                <p class="box-desc">
                  We bring down the house with specially curated playlists that will push you out of your comfort zone and help you get lost in the movement—music that is continuously inspiring, motivating and helping you find your rhythm.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 py-2 text-center about-box">
                <h3 class="box-title">
                  <span>FOR ALL LEVELS</span>
                </h3>
                <p class="box-desc">
                  Whether you are an experienced cyclist, a Spinning fanatic, or a newbie, SpokeHaus is the place for you. We have workouts designed for almost every level of fitness, age, and goal type.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 py-2 text-center about-box">
                <h3 class="box-title">
                  <span>EXPERT INSTRUCTORS</span>
                </h3>
                <p class="box-desc">
                  We have experienced instructors who bring all their energy into every class to challenge and push you to your absolute limits. They will help you reach past what you thought was possible for yourself.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 py-2 text-center about-box">
                <h3 class="box-title">
                  <span>SAFE SPACE</span>
                </h3>
                <p class="box-desc">
                  We turn the lights down low so you can connect with the beat, the energy in the room, and most importantly, yourself.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 py-2 text-center about-box">
                <h3 class="box-title">
                  <span>FOCUS ON RESULTS</span>
                </h3>
                <p class="box-desc">
                  Whether your current goal is weight loss, or train for your next triathlon, our focus on increasing exercise capacity and performance is what will get you there. At Spokehaus, we have a good time, but our aim is to help you reach your goals.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid booking-sect">
        <div class="container">
          <div class="col-12 p-2 text-center">
            <div class="py-3">
              <h2 class="book-heading"><%= link_to 'Book A Class', calendar_path, class: "book-a-class" %> <i class="fas fa-angle-right"></i></h2>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>