<section id='experience' class='page-section'>
  <header class='page-section-header'>
    <h1>A <strong>musical</strong> <span class='plus'>+</span> <strong>physical</strong> journey<span class='line-break'> that will <strong>change your</strong> <span class='no-widow'><strong>body</strong> and <strong>mind</strong></span></span></h1>
  </header>

  <div class='page-sub-sections-container'>
    <section id='experience-ride' class='page-sub-section'>
      <header class='page-sub-section-header'>
        <h1>The Ride</h1>
      </header>

      <div class='page-sub-section-content'>
        <h2>The Ride</h2>

        <p>We reinvent your typical spin class&mdash;the spokehaus workout is a kick-ass, low impact, high intensity full-body experience on a bike. We warm you up, work you out and cool you down.</p>

        <p>Targeting your core, legs, butt, arms and heart through a series of carefully choreographed movements that will transform your body, your mind and the way you feel about your workout.</p>
      </div>
    </section>

    <section id='experience-music' class='page-sub-section'>
      <header class='page-sub-section-header'>
        <h1>The Music</h1>
      </header>

      <div class='page-sub-section-content'>
        <h2>The Music</h2>

        <p>Music is at the heart of everything we do.</p>

        <p>Every 45 minutes we bring down the house with specially curated playlists that will push you out of your comfort zone and help you get lost in the movement&mdash;music that is continuously inspiring, motivating and will challenge you to push through each work-out&mdash;break free of the daily grind and let us help you find your rhythm.</p>
      </div>
    </section>
  </div>

  <footer class='page-section-footer'>
    <%= link_to 'How to Book', ride_path, class: 'page-section-footer-cta' %>
  </footer>
</section>
