<div class="site-content" id="faq">
  <main class="main" id="main">
    <article>
      <div class="entry-content">
        <div class="container-fluid black-wrapper faqs-wrapper">
          <div class="container page-container pt-4 pb-4">
            <div class="page-heading-cont py-4 pt-lg-5 d-flex justify-content-between">
              <div class="page-head-left">
                <h2 class="page-top-heading"><span class="" style="letter-spacing:15px;">FAQ</span></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 faqs-cont pb-4 pb-lg-5 mb-lg-5">
                <div class="accordion faqs-accordion" id="faqs-accordion">
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">HOW DO I BOOK A CLASS?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse accordion-content" aria-labelledby="headingOne" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>In order to book a class with us, you must first register for a profile or sign into your account</li>
                          <li>Purchase ride credits before you select your class and bike</li>
                          <li>Ride credits can be purchased here - <a href="https://spokehaus.ca/packages">https://spokehaus.ca/packages</a></li>
                          <li>Once you have purchased a package or single ride, you can select your class and bike here - <a href="https://spokehaus.ca/calendar">https://spokehaus.ca/calendar</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="heading-2">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">I HAVE NEVER DONE A SPIN CLASS BEFORE, CAN I HANDLE IT?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-2" class="collapse accordion-content" aria-labelledby="heading-2" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>Absolutely! Our classes are curated for everyone – We know it can be intimidating, but our staff and instructors are here to make you feel comfortable. Remember, we were all brand new once!</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="heading-3">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">WHAT DO I NEED TO BRING WITH ME?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-3" class="collapse accordion-content" aria-labelledby="heading-3" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>Water bottle, clothes you are comfortable moving in, a pair of socks</li>
                          <li>Spokehaus provides proper footwear (spin shoes) free of charge</li>
                          <li>If you want to bring your own pair, make sure they have SPD clips</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="heading-4">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">WHAT IF I CAN’T DO EVERYTHING IN THE CLASS? OR HAVEN’T WORKED OUT IN A LONG TIME?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-4" class="collapse accordion-content" aria-labelledby="heading-4" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>Our classes are made to be adapted to any fitness level. You can adjust the resistance level on the bike to suit your personal ability. With every class you will gain confidence and strength. We encourage new riders to go at their own pace and have fun!</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="heading-5">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">HOW MANY CALORIES WILL I BURN IN A CLASS?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-5" class="collapse accordion-content" aria-labelledby="heading-5" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>This number varies from rider to rider and is dependent on weight and exertion used. Research indicates that riders can burn 500-800 calories per 45 minute class.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="heading-6">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">WHEN DO I ARRIVE FOR MY CLASS?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-6" class="collapse accordion-content" aria-labelledby="heading-6" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>For first time riders, we recommend that you arrive at least 15 minutes prior to your class to ensure we get you setup properly. If you arrive late, we cannot allow you to enter the studio as it is distracting to both instructor and riders</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card faq-card mb-1">
                    <div class="card-header p-0" id="heading-7">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed d-flex align-items-center p-3" type="button" data-toggle="collapse" data-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
															<span class="head-left mr-2">
																<i aria-hidden="true" class="fa-accordion-icon fas fa-plus mx-2"></i>
																<span class="accordion-tab-title">DO CLASSES AND PACKAGES EXPIRE?</span>
															</span>
                          <i aria-hidden="true" class="fa-toggle fas fa-angle-right mx-2"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-7" class="collapse accordion-content" aria-labelledby="heading-7" data-parent="#faqs-accordion">
                      <div class="card-body p-3">
                        <ul>
                          <li>Packages are valid for one year from date of purchase</li>
                          <li>Introductory offer (2 weeks unlimited) and unlimited monthly memberships activate on the date of your first class and are valid for 14 or 31 days</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid booking-sect">
        <div class="container">
          <div class="col-12 p-2 text-center">
            <div class="py-3">
              <h2 class="book-heading"><%= link_to 'Book A Class', calendar_path, class: "book-a-class" %> <i class="fas fa-angle-right"></i></h2>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>