<section id='privacy-policy' class='page-section page-section-generic'>
  <header class='page-section-header'>
    <h1>Privacy Policy</h1>
  </header>

  <div class='container'>
    <p class='lead'>This Privacy Policy is effective as of January 18th, 2016.</p>

    <ol class='legal-list'>
      <li>
        <h2>INTRODUCTION</h2>

        <p>Joyryde Studios Inc., d.b.a Spokehaus (<strong>&ldquo;Spokeha&uuml;s&ldquo;</strong>, <strong>&ldquo;Our&ldquo;</strong>, <strong>&ldquo;Us&ldquo;</strong>, or <strong>&ldquo;We&ldquo;</strong>), is committed to protecting the privacy and security of your Personal Information (as defined below) obtained by reason of your relationship with Spokeha&uuml;s. This document is designed to explain the types of Personal Information We collect, how it is used, and the steps We take to ensure your Personal Information is handled appropriately.</p>

        <p><em>Our policies and practices have been designed to comply with the Personal Information Protection and Electronic Documents Act (Canada).</em></p>

        <p>This Privacy Policy applies to Personal Information collected by the Spokeha&uuml;s in connection with Our operations and the services We offer under the Spokeha&uuml;s brand. This includes information collected through Our websites (including, Spokehaus.ca, all other websites owned and operated by Spokeha&uuml;s that redirect to Spokehaus.ca and all subdomains of Spokehaus.ca) (collectively, the <strong>&ldquo;Website&ldquo;</strong>), branded pages on third party platforms and applications accessed or used through the Website or third party platforms which are operated by or on behalf of Spokeha&uuml;s under the Spokeha&uuml;s brand, Our marketing campaigns and contests (collectively, <strong>&ldquo;Services&ldquo;</strong> and each is a <strong>&ldquo;Service&ldquo;</strong>). This Privacy Policy is incorporated into and forms part of the terms of use for any applicable Service.</p>

        <p>Spokeha&uuml;s is responsible for all Personal Information within its possession or control, including any Personal Information that is transferred to third parties for legal, regulatory, processing, storage or other purposes. We have designated employees who are accountable for compliance with these privacy and security principles and for Our compliance and commitment to this Privacy Policy. We require a comparable level of protection from Our third party relations.</p>

        <p>By using the Site, another Service or otherwise providing Us with your Personal Information, you are accepting the practices described in this Privacy Policy, as they may be amended by Us from time to time, and agreeing to Our collection and use of your Personal Information in accordance with this Privacy Policy. If you do not agree to the collection, use and disclosure of your Personal Information in this way, please do not use the Site, Our Services or otherwise provide Spokeha&uuml;s with your Personal Information.</p>
      </li>
      <li>
        <h2>WHAT IS PERSONAL INFORMATION?</h2>

        <p>In this Privacy Policy, &ldquo;Personal Information&rdquo; is information, recorded in any form, about an identified individual or an individual whose identity may be inferred or determined from such information and does not include aggregated data from which the identity of an individual cannot be determined. Personal Information does not include business contact information. The types of Personal Information that Spokeha&uuml;s collects are described below.</p>
      </li>
      <li>
        <h2>YOUR CONSENT</h2>

        <p><strong>By submitting Personal Information to Spokeha&uuml;s, you agree that Spokeha&uuml;s or its legal agents may collect, use and disclose such Personal Information as described in, and in accordance with, this privacy policy and as permitted or required by law.</strong></p>

        <p><strong>You are free to refuse or withdraw your consent to Our collection, use and disclosure of your Personal Information at any time, subject to contractual and legal restrictions and reasonable, advance notice, by contacting the Spokeha&uuml;s Privacy Officer. If you refuse or withdraw your consent to certain purposes, We may not be able to establish or maintain a commercial relationship with you or provide you with Services or information which may be of value to you. If you provide Us with Personal Information of another individual, you represent and warrant that you have all necessary authority and/or have obtained all necessary consents from such individual to enable Us to collect, use and disclose such Personal Information for the purposes set forth in this Privacy Policy.</strong></p>
      </li>
      <li>
        <h2>COLLECTION OF PERSONAL INFORMATION</h2>

        <p>Spokeha&uuml;s collects only the information required to provide and market Our products and Services to you. Spokeha&uuml;s will collect Personal Information only by clear, fair and lawful means. We will not, as a condition of supplying you with a product or Service, require you to consent to the collection, use or disclosure of information beyond that required to fulfill the specified, legitimate purpose.</p>

        <p>The amount of Personal Information provided by you and collected by Spokeha&uuml;s depends on the circumstances and the Personal Information We collect may include contact, demographic or other types of information.</p>

        <p>We may collect the following types of information from you:</p>

        <ul>
          <li>
            <p><strong>Creating a User Account:</strong> You will be required to provide the following Personal Information in order to create a user account on the Site for use of the Site and certain Services: (i) first and last name; (ii) email address; and (iii) password. At your option, you may also provide Us with: (i) your date of birth; and (ii) your shoe size. We collect your date of birth so that We may send you special offers on your birthday. We collect your shoe size in order to provide you with spin shoes at our classes.</p>
          </li>

          <li>
            <p><strong>Payment Information:</strong> If you choose to use a paid Service, Our payment processing vendor collects your credit card information and billing address. Please see the Sections &ldquo;Disclosure of Your Personal Information&ldquo; and &ldquo;Interactions with Third Parties&ldquo; for more information on the collection, use and disclosure of such information by Our payment processing vendor.</p>
          </li>

          <li>
            <p><strong>Other Information that You Provide:</strong> We may occasionally request from you or you may otherwise voluntarily provide Us with information that personally identifies you (e.g. when you register for prize draws or competitions, sign up to receive information, fill out a survey or make a comment or enquiry). We may receive Personal Information about you from a broad range of activities through the services, including, but not limited to, your inputs to the Site and general correspondence with Us. Depending on the Service used, the Personal Information We collect may include contact, demographic or other types of information.</p>
          </li>

          <li>
            <p><strong>Online and Offline Communications:</strong> We may combine and store Personal Information about your use of the Site and the online information you have provided with certain other online and offline information We may have collected.</p>
          </li>

          <li>
            <p><strong>User communications:</strong> When you send email or other communications to Us, We may retain those communications in order to process your inquiries, respond to your requests and improve the Services.</p>
          </li>
        </ul>
      </li>
      <li>
        <h2>WHY DOES SPOKEHA&Uuml;S COLLECT PERSONAL INFORMATION</h2>

        <p>Spokeha&uuml;s identifies the purpose for which your Personal Information is collected and will be used or disclosed. If that purpose is not identified in this Privacy Policy, We will identify any additional purposes for which We will collect your Personal Information, before or at the time of collection, and We will obtain your consent to collect, use or disclose your Personal Information for such additional purpose(s).</p>

        <p>By using the Site and/or the Services, you will be deemed to consent to Our use of your Personal Information for the purposes of:</p>

        <ul>
          <li>understanding your fitness and other related needs and objectives and to assist you in achieving them;</li>

          <li>determining your eligibility for receiving Our Services;</li>

          <li>processing payments and ensuring that your account remains up-to-date;</li>

          <li>if, applicable, setting up and maintaining a user account which allows you to access and use the Services;</li>

          <li>conducting surveys, contests and promotions;</li>

          <li>administering and managing the Services and Our business operations;</li>

          <li>understanding and responding to your needs and preferences, including to communicate with you and to provide you with support and other services;</li>

          <li>developing, enhancing, marketing, selling, providing, and informing individuals of Spokeha&uuml;s&rdquo;s products and Services;</li>

          <li>developing, enhancing, marketing, selling, providing, and informing individuals of third parties, including suppliers with whom Spokeha&uuml;s has a commercial relationship;</li>

          <li>updating and verifying Our databases;</li>

          <li>protecting against fraud or error;</li>

          <li>personalizing user experiences with the Site, as well as evaluating statistics on Site activity;</li>

          <li>complying with legal and governmental requirements; or</li>
        </ul>

        <p>for any other purpose to which an individual consents.</p>

        <p>Spokeha&uuml;s may also collect information regarding the frequency of your visits to Our clubs and about the specific equipment, classes and Services that you take advantage of, so that We may constantly strive to offer you the best service.</p>

        <p>Spokeha&uuml;s will not use or disclose your Personal Information for purposes other than those for which it was collected, except with your consent or as permitted or required by law or regulatory authorities.</p>
      </li>
      <li>
        <h2>PRIVACY AND THE SITES</h2>

        <p>We also collect certain types of information whenever you interact with Us through the Site, including, but not limited to, the following:</p>

        <ul>
          <li>
            <p><strong>Information We Collect Automatically When You Access and Use the Site:</strong> In addition to any Personal Information or other information that you choose to submit to the Site, We and Our third party service providers (including content and analytics providers and advertising companies) may use a variety of technologies that automatically or passively collect certain information whenever you visit or interact with the Site or one of Our advertisements or other content elsewhere online (<strong>&ldquo;Usage Information&rdquo;</strong>). Usage Information may include the browser you are using, the URL that referred you to Our Site, all of the areas within Our Site that you visit, and the time of day, among other information. Our systems may also automatically gather information about the search terms you use on Our Site and the links you select from within Our Site to other areas of the Web or elsewhere online. In addition, We may collect your IP address or other unique identifier for your computer, cell phone, or other device used to access the Site (collectively referred to as a <strong>&ldquo;Device Identifier&rdquo;</strong>). A Device Identifier is a number that is automatically assigned to your computer, your cell phone, or other device used to access the Site, and Our computers identify your device by its Device Identifier. Usage Information may be non-identifying or may be associated with you. Whenever We associate Usage Information or a Device Identifier with you, as an individual and identifiable person, We will treat it as Personal Information.</p>
          </li>

          <li>
            <p><strong>Information from Other Sources:</strong> We may receive information about you from third parties. For example, if you are on another website and you opt-in to receive information from Our Site, the third party website may forward to Us your email address and other information about you so that We may contact you as requested.  We may supplement the information We collect about you online with outside records from third parties in order to enhance Our ability to serve you, to tailor Our content to you, and to offer you opportunities to purchase products or services that We believe may be of interest to you. If We combine Personal Information We receive from other sources with information We collect through the Site, We will apply this Privacy Policy to the combined Personal Information.</p>
          </li>

          <li>
            <p><strong>Social Media/Integration With Third party Platforms:</strong> The Site may permit you to interact with a third party website or service, such as enabling you to &ldquo;like&rdquo; Us on another website or &ldquo;share&rdquo; content from the Site with other websites (a <strong>&ldquo;Social Networking Service&rdquo;</strong>). If you choose to &ldquo;like&rdquo; or &ldquo;share&rdquo; content or to otherwise post information from or via the Site to a Social Networking Service, that information may be publicly displayed, and the third party may have access to certain information about you and your use of the Site. Similarly, if you interact with Us through a Social Networking Service, We may have access to information about you (for example, if you &ldquo;like&rdquo; or &ldquo;follow&rdquo; Our page on a third party website).  Please note that if you mention or comment upon Spokeha&uuml;s's or the Site in your post to a third party platform, the third party platform may allow Us to publish your post on the Site.</p>

            <p>You may also choose to use a social media tool offered by a third party, but available on the Site (such as posting a review or logging into the Site with your username and password for another website, such as Facebook). Use of such a feature may allow Us to collect (or the third party to share) information about you, including Personal Information. Information about you, including your name and profile photo, may be shown to other users of the Site if you are logged in through the Site or through a third party website or service or if you have previously posted content to the Site while logged in. When you choose to use a social media tool available through the Site, you may be opting to link your activity on Our Site with that third party website or service, which may then collect information about your visits to Our Site and may publish that activity as you request to your profile or similar feature with that third party.</p>

            <p>In addition, We may receive information about you if other users of a third party website give Us access to their profiles and you are one of their &ldquo;connections&rdquo; or information about you is otherwise accessible through your &ldquo;connections&rdquo; web page, profile page, or similar page on a social networking or other third party website or interactive service.</p>
          </li>

          <li>
            <p><strong>Cookies and Similar Technologies:</strong> The Site may include the following tracking technologies, and similar technologies, and which may be set and controlled by Us or by Our third party service, advertising or content providers (including advertising services such as Google):</p>

            <ul>
              <li><p>Spokeha&uuml;s uses cookies, which are small data files that are saved to your device when you visit the Site and use certain Services, such as class registeration. Spokeha&uuml;s may use both &ldquo;session&rdquo; cookies and &ldquo;persistent&rdquo; cookies. A session cookie is only active while you are on the Site and is deleted once you close your browser. Unlike a session cookie, a persistent cookie is not deleted when you close your browser and will stay on your device indefinitely. Spokeha&uuml;s uses cookies to identify when you return to the Site, save login information (but never passwords), track usage statistics and store your preferences. By default, most browsers will automatically accept cookies, but by altering your browser&rdquo;s settings, you can either disable cookies completely or be prompted prior to a cookie being loaded. Consult each individual browser&rdquo;s &ldquo;help&rdquo; feature for more information.</p></li>

              <li><p>Embedded Scripts: An embedded script is programming code that is designed to collect information about your interactions with the Site, such as the links on which you click. The code is temporarily downloaded onto your computer, mobile device or other device from Our web server or a third party service provider, is active only while you are connected to the Site, and is deactivated or deleted thereafter.</p></li>
            </ul>
          </li>
        </ul>

        <p>In addition, We may use a variety of other technologies on the Site that collect information for</p>

        <ul>
          <li>
            <p><strong>Web Analytics:</strong> Portions of the Site may also use analytical tools (collectively, <strong>&ldquo;Analytical Tools&rdquo;</strong>) that are operated by Us and third party providers, which may use cookies, web beacons, scripts and similar means for the purpose of collecting information and analyzing how you use the Site. Information collected using Analytical Tools will be transmitted and stored on servers located outside of Ontario, specifically in the United States or any other country with which Spokeha&uuml;s or service providers maintain facilities, and may be accessible to law enforcement or other authorities in those foreign jurisdictions. The third party providers of Analytical Tools may also transfer this information to other third parties (such as governmental authorities) where they are required to do so by law, or where such third parties process the information on their behalf. As some Analytical Tools rely on cookies to perform their functions, you can avoid having your usage data collected by those Analytical Tools by disabling cookies in your browser.</p>
          </li>

          <li>
            <p><strong>Online Advertising:</strong> We use the services of third party advertising networks, ad agencies, third party traffic measurement services and other vendors (<strong>&ldquo;Third Party Ad Providers&rdquo;</strong>) to provide Us with information regarding traffic on the Site, to serve Our advertisements elsewhere online, including advertisements based upon your prior visits to the Site, and to provide Us with information regarding the use of the Site and the effectiveness of Our advertising activities on other websites or electronic messages that We send.</p>
          </li>
        </ul>
      </li>
      <li>
        <h2>DISCLOSURE OF YOUR PERSONAL INFORMATION</h2>

        <p>Except as described in this Privacy Policy, Spokeha&uuml;s does not disclose any of your Personal Information without your informed consent, unless We are required or permitted to by law (including in order to comply with a court order, federal or provincial regulations, or a legally permitted inquiry by a government agency) or as described in this Policy.</p>

        <p>From time to time Spokeha&uuml;s may disclose Personal Information to:</p>

        <ul>
          <li><p>its service providers, including an organization or individual retained by Spokeha&uuml;s to perform functions on its behalf or to provide services to Spokeha&uuml;s, such as marketing, data processing, software development, website hosting, information technology and office services, and further provided such organization or individual does not collect, use or disclose the Personal Information for any purpose other than to perform such functions or provide services to Spokeha&uuml;s;</p></li>

          <li><p>a person retained by Spokeha&uuml;s to fulfill one or more of the purposes described in this Privacy Policy;</p></li>

          <li><p>a person who, in the reasonable judgment of Spokeha&uuml;s, is providing or seeking the information as an agent of the subject individual;</p></li>

          <li><p>a person who, in the reasonable judgment of Spokeha&uuml;s, ought to be informed in emergency situations in which We believe that the life, health or safety of an individual may be in danger; or</p></li>

          <li><p>any third party or parties, with the consent of the subject individual or where disclosure is required or permitted by law.</p></li>
        </ul>

        <p>Your Personal Information may also be shared in the following ways:</p>

        <ul>
          <li><p>We may de-identify your Personal Information and share anonymized data with third parties.</p></li>

          <li><p>We may combine your information with other information in a way that it no longer identifies you and share that aggregated information internally or externally with third parties for the purpose of enhancing the Site and the Services and your user experience.</p></li>
        </ul>

        <p>Information, including Personal Information, which We collect from users of the Services and others, is considered to be a business asset. As a result, in the unlikely event that We go out of business, enter bankruptcy or if We are acquired as a result of a transaction such as a merger, acquisition or asset sale, your Personal Information may be disclosed or transferred to the third party acquirer in connection with the transaction.</p>

        <p>You are deemed to consent to disclosure of your Personal Information for the above stated purposes. If your Personal Information is shared with third parties, those third parties are bound by appropriate agreements with Spokeha&uuml;s to secure and protect the confidentiality of your Personal Information.</p>

        <p>We may also disclose your Personal Information when We believe such disclosure is appropriate to comply with the law, enforce Our policies, or protect Our or others&rdquo; rights, property or for safety.</p>
      </li>
      <li>
        <h2>TRANSFER OR STORAGE OUTSIDE CANADA</h2>

        <p>Personal Information may be securely transferred or stored outside of Canada, to the United States or to any other country in which Spokeha&uuml;s or service providers maintain facilities. Where information is transferred or stored outside Canada, it may be accessible to foreign law enforcement and other foreign authorities.</p>
      </li>
      <li>
        <h2>PROTECTION OF PERSONAL INFORMATION</h2>

        <p>Spokeha&uuml;s recognizes the sensitivity of your Personal Information and protects it using appropriate physical, electronic or procedural security measures with respect to its offices and information storage facilities. This may include safeguards to protect against loss or theft, unauthorized access, disclosure, copying, use or modification. This also applies to Our disposal or destruction of Personal Information.</p>

        <p>Only authorized employees, contractors and agents of Spokeha&uuml;s, who require access to your Personal Information to fulfill their job requirements, will have access to your Personal Information. All Personal Information files and data are the sole property of Spokeha&uuml;s.</p>
      </li>
      <li>
        <h2>ACCURACY AND RETENTION OF PERSONAL INFORMATION</h2>

        <p>Spokeha&uuml;s endeavours to ensure that any Personal Information in its possession is as accurate, current and complete as necessary for the purposes for which We use that information. If We become aware that Personal Information is inaccurate, incomplete or out of date, We will revise the Personal Information.</p>

        <p>We keep your Personal Information only as long as it is required for the reasons it was collected.  The length of time We retain information varies, depending on the purpose for which it was collected and the nature of the information. This period may extend beyond the end of your relationship with Us, but it will be only for so long as it is necessary for Us to have sufficient information to respond to any issues that may arise at a later date.</p>

        <p>When your Personal Information is no longer required for Spokeha&uuml;s&rdquo;s purposes, We have procedures to destroy, delete, erase or convert it into an anonymous form.</p>

        <p>If you would like to access or correct Spokeha&uuml;s's file of your Personal Information, you may contact Our Privacy Officer. Please see the ‘How to Contact Us&rdquo; section below. Your right to access or correct your Personal Information is subject to applicable legal restrictions.</p>
      </li>
      <li>
        <h2>YOUR ACCESS TO YOUR PERSONAL INFORMATION</h2>

        <p>You can request access to your information stored by Us. Upon receiving such a request, Spokeha&uuml;s will: (i) obtain satisfactory proof to confirm your identity; (ii) inform you about what type of information it has on record or in its control, how such information is used and to whom the information may have been disclosed; (iii) provide you with access to your information so you can review and verify the accuracy and completeness and request changes to the information; and (iv) make any necessary updates to your information. To access your Personal Information, refer to the &ldquo;How to Contact Us&rdquo; section below.</p>
      </li>
      <li>
        <h2>INTERACTIONS WITH THIRD PARTIES</h2>

        <p>This Policy only addresses the use and disclosure of information collected from the use of the Site and Services. The information collected and stored by the third party remains subject to the third party's privacy practices.</p>

        <p>We make no representations or warranties about the privacy practices of any third party individual, website or service that you may encounter through the use of the Site.</p>

        <p>The Site may contain links to third party websites or services (<strong>&ldquo;Third Party Materials&rdquo;</strong>), which are intended for convenience only. Third Party Materials are wholly independent from Spokeha&uuml;s. As third party individuals, and Third Party Materials are wholly independent from Spokeha&uuml;s, We are not responsible for the privacy practices of third parties or the content of any Third Party Materials that may be linked by Spokeha&uuml;s or other Spokeha&uuml;s users. Therefore, user transactions with any third parties and access to any Third Party Materials are entirely at your own risk. It is also your responsibility to take all protective measures to guard against viruses or other destructive devices and programs. You should refer to the privacy policies of third parties if you have any questions.</p>
      </li>
      <li>
        <h2>CHANGES TO THE PRIVACY POLICY</h2>

        <p>Spokeha&uuml;s reserves the right to make changes to this Privacy Policy. As such, We encourage you to review this Privacy Policy regularly to stay up-to-date on Our policies. In such a case, We will update the effective date of the updated policy. You may find the current effective date at the top of this Privacy Policy. If you are concerned about how your Personal Information is used, you should contact Us as described above or check back at Our Site periodically to obtain a current copy of this Privacy Policy.</p>
      </li>
      <li>
        <h2>HOW TO CONTACT US</h2>

        <p>For more information about Spokeha&uuml;s&rdquo;s privacy practices, to amend or obtain access to your personal information, to opt-out or withdraw your consent, or if you have privacy-related questions or concerns, please contact Our Privacy Officer at:</p>

        <p>Email Us: <%= mail_to 'cityplace@spokehaus.ca' -%></p>

        <address>
          <p>Joyryde Studios Inc., d.b.a Spokehaus<br>
            70 Dan Leckie Way<br>
            Toronto, Ontario<br>
            M5V-0K1</p>
        </address>
      </li>
      <li>
        <h2>WEBSITE TERMS OF USE</h2>

        <p>Please also review Our Terms of Use, which apply to anyone who accesses, browses or uses a Site. Our Terms of Use are <%= link_to 'available here', toc_path -%>.</p>
      </li>
    </ol>
  </div>
</section>
