<section id='terms-of-service' class='page-section page-section-generic'>
  <header class='page-section-header'>
    <h1>Terms of Use</h1>
  </header>

  <div class='container'>

    <p class='lead'>These terms of use are effective as of January 18th, 2016.</p>

    <p>The following terms of use (<strong>&ldquo;Agreement&rdquo;</strong>) is a legally binding agreement between Joyryde Studios Inc., d.b.a Spokehaus (<strong>&ldquo;Spokeha&uuml;s&rdquo;</strong>, <strong>&ldquo;Our&rdquo;</strong>, <strong>&ldquo;Us&rdquo;</strong> or <strong>&ldquo;We&rdquo;</strong>) and you (<strong>&ldquo;You&rdquo;</strong> or <strong>&ldquo;Your&rdquo;</strong>) and applies to: (i) Your use of Our website spokehaus,ca, all other sites owned and operated by Spokeha&uuml;s that redirect to spokeha&uuml;s,ca and all subdomains of spokehaus,ca (collectively, the <strong>&ldquo;Website&rdquo;</strong>); (ii) the password protected areas of the Website that allow You to, among other things, access certain features or functions, use Your Account (as defined below) or purchase access (collectively, <strong>&ldquo;Online Services&rdquo;</strong>); and (iii) any other features, content, or applications offered or operated from time to time by Spokeha&uuml;s in connection with any of the foregoing (collectively, the <strong>&ldquo;Services&rdquo;</strong>).</p>

    <p>IMPORTANT&thinsp;&mdash;&thinsp;IF YOU ARE UNDER THE AGE OF 18, YOU MUST HAVE YOUR PARENT OR LEGAL GUARDIAN READ THE AGREEMENT BELOW AND AGREE TO IT FOR YOU. IF YOU DO NOT GET YOUR PARENT OR GUARDIAN TO READ AND AGREE TO THIS AGREEMENT, THEN YOU DO NOT HAVE PERMISSION TO USE ANY OF THE SERVICES.</p>

    <p>PLEASE READ THIS AGREEMENT CAREFULLY BEFORE ACCESSING OR USING ANY OF THE SERVICES, BY ACCESSING OR USING THE SERVICES, YOU AGREE TO BE BOUND BY THIS AGREEMENT. IF YOU DO NOT UNDERSTAND OR AGREE TO BE BOUND BY THIS AGREEMENT, DO NOT, AND YOU MUST NOT, ACCESS OR USE ANY OF THE SERVICES.</p>

    <ol class='legal-list'>
      <li>
        <h2>Scope of this Agreement</h2>

        <p>This Agreement constitutes legally binding terms and applies to such use of the Services regardless of the type of computer, tablet, smartphone or other device used to access them unless such services post a different terms of use, terms of service or agreement, in which case that agreement (<strong>&ldquo;Other Terms&rdquo;</strong>) shall instead govern. By accessing and/or using any of the Services, You agree to be bound by this Agreement (or if applicable, the Other Terms. You are authorized to use the Services (regardless of whether Your access or use is intended) only if You agree to abide by all applicable laws, rules and regulations (<strong>&ldquo;Applicable Law&rdquo;</strong>) and the terms of this Agreement. In some instances, both this Agreement and separate guidelines, policies rules, or terms of use or sale setting forth additional or different terms and/or conditions will apply to Your use of the Services or to a service or product offered via the Services (in each such instance, and collectively, <strong>&ldquo;Additional Terms&rdquo;</strong>). To the extent there is a conflict between this Agreement and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state otherwise. Please also review the terms of the Privacy Policy (as defined below).</p>
      </li>

      <li>
        <h2>Modification of this Agreement</h2>
        <p>Spokeha&uuml;s, in its sole and absolute discretion, may change this Agreement and any of the Other Terms or Additional Terms (including, but not limited to the Privacy Policy), at any time, and such changes shall be effective immediately upon posting to the Website. You acknowledge and agree that: (i) Spokeha&uuml;s may notify You of such changes by posting them to the Website and/or the Online Services (including, without limitation, by notification through the sign-in process for the Online Services) or by email; and (ii) Your use of any of the Services after such changes or modifications have been made (as indicated by the effective date noted at the top of this page) shall constitute Your acceptance of this Agreement as last revised. If You do not agree to such amended Agreement, then You must immediately close Your Account (see Section 15 for how to cancel).</p>
      </li>

      <li>
        <h2>Privacy</h2>
        <p>You acknowledge and agree that any and all uses of the Services are further subject to Our privacy policy, which is <%= link_to 'located here', privacy_policy_path -%> (<strong>&ldquo;Privacy Policy&rdquo;</strong>). The Privacy Policy provides Your rights and Our responsibilities with regard to Our collection and use of personal information. We will not use personal information in any way inconsistent with the purposes and limitations provided in the Privacy Policy. You hereby consent to Our collection and use of personal information in accordance with the Privacy Policy. The Privacy Policy may be updated from time to time at Our discretion. Changes to the Privacy Policy will be effective when We post the changes to the Website or as otherwise provided for in the Privacy Policy</p>
      </li>

      <li>
        <h2>Rights to Use the Services.</h2>

        <ol>
          <li><strong>Access to the Services.</strong> Subject to the terms set forth in this Agreement, We grant to You a personal, limited, non-exclusive, non-transferable, and terminable license to access and use the Services. The Services are for Your personal and non-commercial use only. You may not use them for any commercial or illegal purpose.</li>

          <li><strong>Acceptable Use.</strong> You shall not use the Services (whether in whole or in part) in any fashion except as expressly permitted by this Agreement. Without limiting the generality of the foregoing, You shall not and shall not encourage or assist any third party to, directly or indirectly, do any of the following acts: (i) sell, reproduce, modify or attempt to modify the Services in any way; (ii) reverse engineer, disassemble or decompile any software or other products or processes accessible through the Services, or attempt to discover or recreate the source code used to provide or access the Services; (iii) use any of the Services in any manner or for any purpose other than as expressly permitted by this Agreement, Other Terms or Additional Terms; (iv) sell, lend, rent, resell, lease, sublicense or otherwise transfer any of the rights granted to You with respect to the Services to any third party; (v) remove, obscure or alter any proprietary rights notice pertaining to any of the Services; (vi) access or use the Services in a way intended to improperly avoid incurring fees; (vii) use the Services to engage in any unlawful or fraudulent activity or perpetrate a hoax or engage in phishing schemes or forgery or other similar falsification or manipulation of data; (viii) use any robot, spider, scraper or other automated means to access the Services; (ix) interfere with or disrupt servers or networks used by Spokeha&uuml;s to provide the Services or used by other users&rsquo; to access the Services, or violate any third party regulations, policies or procedures of such servers or networks or harass or interfere with another user&rsquo;s full use and enjoyment of the Services; (x) cause, in Spokeha&uuml;s&rsquo;s sole discretion, inordinate burden on the Services or Spokeha&uuml;s&rsquo;s system resources or capacity; (xi) modify, translate, or create derivative works based on any portion of the Services; (xii) access or use the Services in order to build a competitive product or Services or copy any features or functions of any of the Services; (xiii) circumvent, remove, alter, deactivate, degrade or thwart any of any security technology or software that is part of the Services (or otherwise attempt to do so or encourage or assist any other party to do so); (xiv) impersonate or attempt to impersonate Spokeha&uuml;s or Our employees (including, without limitation, the use of email addresses associated with any of the foregoing); (xv) use the account, username, or password of another user of the Services at any time; or (xvi) violate any Applicable Law. You acknowledge and additionally agree that We reserve the right to stop any conduct that restricts or inhibits other users of the Services from fully utilizing and enjoying the Services.</li>
        </ol>
      </li>

      <li>
        <h2>Intellectual Property Ownership and Reservation of Rights</h2>

        <p>All trademarks, service marks, patents, copyrights, trade secrets and other proprietary rights in or related to the Services are and will remain the exclusive property of Spokeha&uuml;s or its licensors, whether or not specifically recognized or perfected under local law. You will not acquire any rights in the Services except the limited use right specified in this Agreement. The Services are proprietary to Spokeha&uuml;s and/or its licensors. You agree to take adequate steps to protect the Services from unauthorized disclosure or use.</p>
      </li>

      <li>
        <h2>Accounts and Credentials.</h2>

        <ol>
          <li>You must open an account with Us (<strong>&ldquo;Account&rdquo;</strong>) in order to access and use the Online Services. Opening an Account requires You to complete an online registration process by providing Us with current, complete and accurate information as prompted by Us during the registration process. When You register for an Account, You represent and warrant to Us that: (i) You are at least 18 years old (or, if You are not at least 18 years old, You have obtained Your parent or legal guardian&rsquo;s permission to use the Services and Your parent or legal guardian has read and agrees to this Agreement on Your behalf); and (ii) all information that You submit when You register for Your Account is accurate, current and complete, and that You will keep Your Account information accurate, current and complete.</li>

          <li>You will be required to establish a password for Your Account. You are entirely responsible for maintaining the confidentiality of Your password and Your login name. Spokeha&uuml;s recommends that You choose a password that is unique to You and not easily guessed by others. You should change Your password on a regular basis, and You must log out at the end of each session.</li>

          <li>You are entirely responsible for any and all activities that occur under Your Account. You agree that any person using Your Account will be treated and deemed by Us as having been authorized by You to access Your Account, and to have been authorized by You to take any other actions on Your behalf. You agree to immediately notify Spokeha&uuml;s of any unauthorized use of Your password or Your account or any other breach of security. All login names and passwords remain the property of Spokeha&uuml;s, and may be cancelled or suspended at any time by Spokeha&uuml;s without any notice or liability to You or any other person.</li>

          <li>Spokeha&uuml;s will not be liable for any loss that You may incur as a result of someone else using Your Account, either with or without Your knowledge. However, You could be held liable for losses incurred by Spokeha&uuml;s or another party due to someone else using Your Account or password. The foregoing sentence shall survive the termination or expiration of this Agreement. You may not use anyone else&rsquo;s Account at any time without the permission of the Account holder.</li>
        </ol>
      </li>

      <li>
        <h2>Classes, Reservations and Cancellations.</h2>

        <ol>
          <li>In order to attend Our classes, You must: (i) sign up for an Account (as defined below); (ii) agree to this Agreement; (iii) provide true, complete, and up to date contact information; and (iv) physically sign Our standard waiver form (or if You are not at least 18 years old, You must have Your parent or legal guardian sign on Your behalf).</li>

          <li>You must make a reservation in order to attend a class. You may buy packages with credits for attending classes and reserving bikes, as We explain on the ‘Buy Credits&rsquo; page on the Website, instead of signing for any membership plan. In order to make a reservation for a class and a bike, You must have enough class credits in Your Account required for that reservation. While You may use Your class credits to make a reservation for someone else, credits themselves are not transferrable. You should be aware that classes and series expire.</li>

          <li>The availability of reservations made using the Online Services is determined at the time of Your query. Once a reservation is made by You through the Online Services, We will provide confirmation of the reservation to You by email.</li>

          <li>In order to cancel a bike reserved in a class and return the credit(s) to Your Account, You must cancel such reservation no later than six (6) hours prior to the scheduled class start time. Once Your bike is cancelled, the class, and related credit(s), will be returned to Your Account to be used at a future date. If You have not cancelled Your reservation at least six (6) hours prior to the scheduled class start, Your credit will be charged and used. All reservations must be cancelled using Your Account. Cancellations will not be accepted by phone.</li>

          <li>For unlimited package holders you will automatically be charged a $12.50 late cancellation fee if cancelling within six (6) hours of the class start time.</li>
        </ol>
      </li>

      <li>
        <h2>Payments</h2>

        <p>You must provide Us with a current, valid, accepted method of payment (as such may be updated from time to time, <strong>&ldquo;Payment Method&rdquo;</strong>) in order to purchase credits. We will bill all fees to Your Payment Method. Unless You choose to store Your information for Payment Method with Us, You will be required to re-enter Your Payment Method each time that You make a purchase with Us. You must be authorized to use the Payment Method that You enter. Payments may be processed by Our third party billing and payment processing provider (the <strong>&ldquo;Billing Provider&rdquo;</strong>). By making a purchase, You authorize Spokeha&uuml;s and/or the Billing Provider (as the case may be) to charge the designated Payment Method for all purchases made by You. When You provide Us with Your information about Your Payment Method, that information, potentially along with other personal information about You, will be shared with the Billing Provider for the purposes of processing Your payments. You hereby consent to Our disclosure of Your information (including, but not limited to, personal information) to the Billing Provider for the foregoing purposes. You further acknowledge and agree that the Billing Provider may also collect from You information about You and the collection and use of such information will be subject to the terms of any agreements or policies put in place by such Billing Provider, which may be made available to You during the payment information registration process. You acknowledge and agree that Spokeha&uuml;s shall have no liability to You in connection with the use and disclosure of Your personal information when collected by the Billing Provider. Your Payment Method on file must be kept current and valid. You must keep all information in Your billing account current. You can access and modify Your billing account information when using the Services. Where You choose to store Your Payment Method with Us, if a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and You do not edit and update Your Payment Method information, You remain responsible for any uncollected amounts and authorize Us to continue billing the Payment Method, as it may be updated.</p>
      </li>

      <li>
        <h2>Price Changes</h2>

        <p>We may change Our fees at any time by posting a new pricing structure to Our Website and/or sending You a notification by email.</p>
      </li>

      <li>
        <h2>Online Services.</h2>

        <ol>
          <li>The Online Services may contain information about Our company, such as news and press releases. You acknowledge that We have no duty or obligation to maintain the accuracy of, or update any such information, and agree that Your reliance on any such information is at Your own risk.</li>

          <li>We reserve the right to do any of the following, at any time, at Our sole discretion, with or without notice: (1) modify, suspend, or terminate operation of or Your access to the Online Services, or any portion of the Online Services, including but not limited to for Your violation of this Agreement; (2) modify or change the Online Services, or any portion of the Online Services; and (3) interrupt the regular operation of the Online Services, or any portion of the Online Services, as necessary to perform routine or non-routine maintenance, to correct errors, or to make other changes to the Online Services.</li>
        </ol>
      </li>

      <li>
        <h2>Feedback</h2>

        <p>We welcome Your feedback and comments regarding the Services. By submitting or providing Us with comments, messages, suggestions, ideas, concepts, feedback or other information about the Services, Spokeha&uuml;s and/or its operations (collectively, <strong>&ldquo;Submissions&rdquo;</strong>) You thereby and hereby: (a) represent and warrant that none of the Submissions are confidential or proprietary to You or to any other party; (b) represent and warrant that none of the Submissions breach any agreement to which You are a party; and (c) grant Spokeha&uuml;s an exclusive fully paid-up, royalty-free, perpetual, irrevocable, unrestricted, transferable, sub-licensable, worldwide right and license to the right to use, share and commercialize Your Submissions in any way and for any purpose. You also waive in favour of Spokeha&uuml;s and its successors and assigns any and all of Your moral rights in and to all Submissions. These rights survive this Agreement.</p>
      </li>

      <li>
        <h2>Disclaimer</h2>

        <p>TO THE MAXIMUM EXTENT PERMISSIBLE BY LAW, THE SERVICES ARE PROVIDED &ldquo;AS IS&rdquo;, &ldquo;AS AVAILABLE&rdquo; AND &ldquo;WITH ALL FAULTS&rdquo;. SPOKEHA&Uuml;S MAKES NO REPRESENTATIONS OR WARRANTIES, AND THERE ARE NO CONDITIONS, ENDORSEMENTS, UNDERTAKINGS, GUARANTEES, REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, (INCLUDING WITHOUT LIMITATION ANY EXPRESS OR IMPLIED WARRANTIES OR CONDITIONS OF QUALITY, PERFORMANCE, RESULTS, FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY, MERCHANTABLE QUALITY, DURABILITY, TITLE, NON-INFRINGEMENT OR ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF THE TRADE) AS TO, ARISING OUT OF OR RELATED TO THE FOLLOWING: (I) THIS AGREEMENT; (II) THE SERVICES (INCLUDING, WITHOUT LIMITATION, (A) THE PERFORMANCE OF THE SERVICES OR ITS FAILURE TO PERFORM, (B) THE AVAILABILITY OR RELIABILITY OF THE SERVICES, OR (C) THE FUNCTIONS, CONTENT AND INFORMATION MADE ACCESSIBLE OR AVAILABLE ON OR THROUGH THE ONLINE SERVICES); OR (III) SECURITY ASSOCIATED WITH THE TRANSMISSION OF INFORMATION OR DATA TRANSMITTED TO OR FROM SPOKEHA&Uuml;S, YOU OR OTHERS VIA THE SERVICES.</p>
      </li>

      <li>
        <h2>Indemnity</h2>

        <p>At Spokeha&uuml;s&rsquo;s request, You will defend, hold harmless, and indemnify Spokeha&uuml;s and its directors, officers, employees, agents, subsidiaries, affiliates and each of their successors from and against all third party claims, actions, demands, proceedings, damages, costs and liabilities of any kind (collectively, <strong>&ldquo;Claims&rdquo;</strong>) to the extent that the Claims arise out of or relate to Your use of the Services, User-Provided Content or Your breach of Your warranties or obligations under this Agreement</p>
      </li>

      <li>
        <h2>Limitation of Liability</h2>

        <p>UNDER NO CIRCUMSTANCES WILL SPOKEHA&Uuml;S, ITS LICENSORS AND THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, AGENTS AND REPRESENTATIVES BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE, BASED ON YOUR CLAIMS (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR LOSS OF DATA, GOODWILL, PROFITS, USE OF MONEY OR USE OF THE SERVICES, INTERRUPTION IN USE OR AVAILABILITY OF DATA, STOPPAGE OR IMPAIRMENT OF OTHER ASSETS), ARISING OUT OF BREACH OR FAILURE OF EXPRESS OR IMPLIED WARRANTY, BREACH OF CONTRACT, MISREPRESENTATION, NEGLIGENCE, STRICT LIABILITY IN TORT OR OTHERWISE IN ADDITION, IN NO EVENT WILL SPOKEHA&Uuml;S&rsquo;S CUMULATIVE OR AGGREGATE LIABILITY TO YOU FOR DIRECT OR ANY OTHER DAMAGES OF ANY KIND OR NATURE IN CONNECTION WITH THE SERVICES OR OTHERWISE UNDER THIS AGREEMENT EXCEED ONE HUNDRED CANADIAN DOLLARS (CDN $100.00). SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR CERTAIN TYPES OF DAMAGES. THEREFORE, SOME OF THE ABOVE LIMITATIONS IN THIS SECTION MAY NOT APPLY TO YOU.</p>
      </li>

      <li>
        <h2>Termination / Closing Your Account</h2>

        <p>You or Spokeha&uuml;s may terminate this Agreement and close Your Account at any time and for any reason by giving Notice to the other party. We may suspend the Services at any time, with or without cause. If We terminate this Agreement and Your Account without cause, We will refund a prorated portion of Your unused and purchased class credits. We will not refund or reimburse for unused and purchase class credits if there is cause, such as a violation of this Agreement. <strong>When You terminate this Agreement close Your Account, We will not refund or reimburse You for any unused class credits.</strong> Once terminated, We may permanently delete Your Account and all the data associated with it, including Your emails from Our Website. If You do not log in to Your Account for twelve (12) or more months, We may treat Your Account as &ldquo;inactive&rdquo; and permanently delete the Account and all the data associated with it. All provisions of this Agreement, which by their nature should survive, shall survive termination of Services, including, without limitation, ownership provisions, Your payment obligations, warranty disclaimers, limitations of liability, indemnifications and Sections 1, 2, 3, 5, 6.3, 6.4 and 8 - 20.</p>
      </li>

      <li>
        <h2>Third Party Links</h2>

        <p>For Your convenience, the Online Services may contain links to or at times redirect You to other websites and online services owned or controlled by third parties. Also, at Your request, the Online Services may connect to social networking websites that are not owned or controlled by Us. These other websites and online services are not under Our control, and You acknowledge and agree that We and Our affiliated companies are not responsible or liable for the accuracy, collection or use or disclosure of information, copyright compliance, legality, decency, or any other aspect of such websites or online services or the content displayed on or through them. The inclusion of such a link does not imply Our endorsement of any such website or online service, the content displayed on or through it, or any association with its operators, and You agree not to hold Us responsible for any harm that may arise based on Your access to or use of any linked website or online service.</p>
      </li>

      <li>
        <h2>Notice</h2>

        <p>By using the Services, You consent to receiving electronic communications from Spokeha&uuml;s relating to Your Account. These communications may involve sending emails to Your email address provided during registration, or posting communications on the Services, or in Online Services and will include notices about Your Account (e.g., reservation confirmations, change in password or Payment Method, confirmation emails and other transactional information) and are part of Your relationship with Spokeha&uuml;s. You agree that any notices, agreements, disclosures or other communications that We send to You electronically will satisfy any legal communication requirements, including that such communications be in writing. You should maintain copies of electronic communications by printing a paper copy or saving an electronic copy. Notices to You will be deemed given when deposited in the mail or on the date that an email is sent. Notices may be included in Our statements or other communications to You</p>
      </li>

      <li>
        <h2>Compliance With Laws</h2>

        <p>Spokeha&uuml;s reserves the right to fully cooperate with any law enforcement authorities or court order requesting or directing Spokeha&uuml;s to disclose the identity of anyone posting any email or other messages that is believed or alleged (reasonably or not) to violate this Agreement or any Applicable Law. You acknowledge and agree that Spokeha&uuml;s may investigate any violations of law and may cooperate with law enforcement authorities in this regard.</p>
      </li>

      <li>
        <h2>Governing Law</h2>

        <p>This Agreement shall be construed in accordance with and governed by the laws of the Province of Ontario and the laws of Canada applicable in that Province without regards to conflict of laws principles. The parties hereby expressly and irrevocably attorn to the exclusive jurisdiction of the courts in the Province of Ontario. The United Nations Convention on Contracts for the International Sale of Goods (also called the Vienna Convention, and which is cited in the statutes of Canada as the International Sales of Goods Contracts Convention Act) will not apply to this Agreement or the transactions contemplated by this Agreement</p>
      </li>

      <li>
        <h2>Miscellaneous</h2>

        <p>This Agreement (and the documents referred to herein, including, without limitation, Other Terms and Additional Terms) constitutes the entire agreement between You and Us in relation to the use of the Services, and replace and extinguish all prior agreements, arrangements or undertakings of any nature made by the parties, whether oral or written, in relation to such subject matter. The division of this Agreement into sections and subsections and the insertion of headings are for convenience of reference only and shall not affect the construction or interpretation of this Agreement. If any provision of this Agreement is held by a court of competent jurisdiction to be contrary to law, the provision shall be modified by the court and interpreted so as best to accomplish the objectives of the original provision to the fullest extent permitted by law, and the remaining provisions of this Agreement shall remain in effect. The failure of Spokeha&uuml;s to exercise or enforce any right or provision of this Agreement shall not operate as a waiver of such right or provision. You may not transfer or assign this Agreement or any rights or obligations hereunder, directly or indirectly, by operation of law or otherwise, without the prior written consent of Spokeha&uuml;s and any such assignment shall be null and void from the beginning. We may assign Your Account or this Agreement and all rights and/or obligations hereunder to any third party without notice for any purpose, including without limitation, collection of unpaid amounts, or in the event of an acquisition, corporate reorganization, merger or sale of substantially all of the party&rsquo;s assets to another entity. You hereby consent to such assignment. You must continue making all required payments to Us in accordance with Your billing statement, unless notified otherwise. This Agreement shall enure to the benefit of and be binding upon Spokeha&uuml;s&rsquo;s or Your respective heirs, executors, administrators, successors and permitted assigns.</p>
      </li>
    </ol>

    <p>If You have questions about this Agreement, feel free to contact Us.</p>

    <p>Email: <%= mail_to 'cityplace@spokehaus.ca' -%></p>

    <p>Snail mail:</p>

    <address>
      <p>Joyryde Studios Inc., d.b.a Spokehaus<br>
        70 Dan Leckie Way<br>
        Toronto, Ontario<br>
        M5V-0K1</p>
    </address>

    <p>Thanks for reading!</p>
  </div>
</section>
