# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e739c45d5f2eadfd7ae4aebb1b96ae23ee120ff6d174f395740caff4b808b588839a3683812c60bb923195608352f6fc830a29daf7318034e6534976e86d7b30
  facebook_key:
  facebook_secret:
  mindbody:
    :source_name:
    :api_key:
    :username:
    :password:
    :site_id:
    :log: true
    :log_level: :info
    :shoe_size_field_id: 1 # obtained from rake mb:custom_fields

test:
  secret_key_base: 24f9b3a46b233b3dd170b09bee3de80fba809495c646a53265a924a122ad16e5732751735fe274db26565fd28558e84db56adcc5997a54ded1817482b5cf61c9
  facebook_key:
  facebook_secret:
  mindbody:
    :source_name:
    :api_key:
    :username:
    :password:
    :site_id:
    :log: true
    :log_level: :info
    :shoe_size_field_id: 1 # obtained from rake mb:custom_fields

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  facebook_key: <%= ENV["FACEBOOK_KEY"] %>
  facebook_secret: <%= ENV["FACEBOOK_SECRET"] %>
  mindbody:
    :source_name: <%= ENV["MINDBODY_SOURCE_NAME"] %>
    :api_key: <%= ENV["MINDBODY_API_KEY"] %>
    :username: <%= ENV["MINDBODY_USERNAME"] %>
    :password: <%= ENV["MINDBODY_PASSWORD"] %>
    :site_id: <%= ENV["MINDBODY_SITE_ID"] %>
    :log: true
    :log_level: :error
    :shoe_size_field_id: 1 # obtained from rake mb:custom_fields
